[settings]
#Location of the RSS configuration file.
rss_config = ./rss.ini

#Enable GPU for Interpolation.
gpu = 1

#Folder where output files will be saved.
location = ./videos/

#How long (in seconds) to wait between checking RSS feeds for new results.
rss_sleep_time = 600

#Location of the FFMPEG binary.
ffmpeg_location = ffmpeg

#Library locations used for svp
#Download here https://www.svp-team.com/wiki/Plugins:_SVPflow
#and here https://github.com/FFMS/ffms2/releases
ffms2 = ./lib/libffms2.so.4
svpflow1 = ./lib/libsvpflow1_vs64.so
svpflow2 = ./lib/libsvpflow2_vs64.so

#Enable debug logging.
debug = 0
